In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
upload=files.upload()

Saving data.csv to data.csv

In [173]:
data=pd.read_csv("data.csv")
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [174]:
data.shape

(4600, 18)

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [176]:
data.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [177]:
data.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [178]:
data.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [179]:
data.drop(['date','sqft_lot','floors', 'waterfront','view', 'condition','sqft_above','bathrooms','sqft_basement','yr_built','yr_renovated','statezip','country','street','city'], axis=1,inplace=True)

In [180]:
data.head()

       price  bedrooms  sqft_living
0   313000.0       3.0         1340
1  2384000.0       5.0         3650
2   342000.0       3.0         1930
3   420000.0       3.0         2000
4   550000.0       4.0         1940

In [181]:
data.dtypes

price          float64
bedrooms       float64
sqft_living      int64
dtype: object

In [142]:
#data['city'] = data['city'].astype(float)
#data['city'] = pd.to_numeric(data['city'],errors='coerce')

In [182]:
data['sqft_living'] = data['sqft_living'].astype(float)

In [183]:
data.head()

       price  bedrooms  sqft_living
0   313000.0       3.0       1340.0
1  2384000.0       5.0       3650.0
2   342000.0       3.0       1930.0
3   420000.0       3.0       2000.0
4   550000.0       4.0       1940.0

In [184]:
data.describe()

              price     bedrooms   sqft_living
count  4.600000e+03  4600.000000   4600.000000
mean   5.519630e+05     3.400870   2139.346957
std    5.638347e+05     0.908848    963.206916
min    0.000000e+00     0.000000    370.000000
25%    3.228750e+05     3.000000   1460.000000
50%    4.609435e+05     3.000000   1980.000000
75%    6.549625e+05     4.000000   2620.000000
max    2.659000e+07     9.000000  13540.000000

In [185]:
data.dtypes

price          float64
bedrooms       float64
sqft_living    float64
dtype: object

In [186]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [187]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 0)

In [188]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(3680, 2)
(3680,)
(920, 2)
(920,)

In [189]:
#creating linear regression model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [170]:
np.nan_to_num(x)

array([[3.13000000e+05, 3.00000000e+00, 1.34000000e+03],
       [2.38400000e+06, 5.00000000e+00, 3.65000000e+03],
       [3.42000000e+05, 3.00000000e+00, 1.93000000e+03],
       ...,
       [4.16904167e+05, 3.00000000e+00, 3.01000000e+03],
       [2.03400000e+05, 4.00000000e+00, 2.09000000e+03],
       [2.20600000e+05, 3.00000000e+00, 1.49000000e+03]])

In [190]:
model.fit(x_train,y_train)

LinearRegression()

In [192]:
#Predictions
y_pred = model.predict(x_test)

In [193]:
#checking the r2score
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.45858917492898643